
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
    <title>Login to chatting room</title>
</head>


<body>

<!-- LOGIN -->
<!-- <link rel="stylesheet" href="/css/auth.css"> -->
<link rel="stylesheet" href="/css/cpass.css">
<div id="register_wrapper" class="form_wrapper">
       
    <div class="auth_logo" >
        <a href="/">Cwuit</a>
    </div>
  
    <div class="form_err_wrapper hidden_div" id="err_reset_pass">
            <!-- <div class="form_err_list "> Please enter correct email</div>     -->
    </div>
    <div class="form_success_wrapper hidden_div" id="success_reset_pass">
        <div>Your password has been changed successfully!</div>
        <a href="/login">Login</a>
   </div>
    <div class="form_heading">    
        <h2>Create Your New Password</h2>
    </div>
    <div>
        <fieldset>
        

        <div class="form_field">
            <input autocomplete="new-password" type="password" name="password" class="form_input" id="password" required>
            <label for="password" class="form_label">Password</label>
        </div>

        <div class="form_field">
            <input autocomplete="new-password" type="password" name="password" class="form_input last_input" id="confirm_password" required>
            <label for="confirm_password" class="form_label">Confirm Password</label>
        </div>
    
        </fieldset>
        <input type="hidden" name="_csrf" value="<%= csrf %>" />
        <div class="submit_wrapper">
            <div class="buttonCont">
                <input type="submit" class="submit_form" value="Change My Password" id="send_forgot_pass_btn">
            </div>
        </div>
        
    </div>
    <div class="other_link">
            
            <a href="/login">Log In</a>
    </div>
</div>

<div class="hidden_confirm_verify hidden_div">
        <div>
                <div>Password reset email has been sent.</div> 
                <div>Please Check your email inbox/spam to reset your password.</div>
        </div>
    </div>
<input type="hidden" value="<%= csrf %>" id="csrfId">
<script>

let urlParams = new URLSearchParams(window.location.search);
let token = urlParams.get('token');


//CHECK FROM START
let formArr = [
    document.getElementsByClassName("form_input")[0]
    ];
    function checkFormStart (arr){
        for(let i=0; i < arr.length; i++){
            if(arr[i].value.trim() != "" && arr[i].value != 'password'){
                arr[i].nextElementSibling.classList.add("filled");
            }
        }
    }
    checkFormStart(formArr);

//check if form input clicked   
function checkForm(){

   
    if(this.value.trim() != "")
    {
        this.nextElementSibling.classList.add("filled");
    }
    else if(this.type == 'password' && this.value != ""){
        this.nextElementSibling.classList.add("filled");
    }
    else
    {
        this.nextElementSibling.classList.remove("filled");
    }
}

//function to send ajax for request forgot password
function sendEmail(){
    
    let csrfVal = document.getElementById("csrfId").value;
    let passwordVal = document.getElementById("password").value.trim();
    let confirmpasswordVal = document.getElementById("confirm_password").value.trim();
    
    let sendString = `password=${passwordVal}&confirm_password=${confirmpasswordVal}&token=${token}`;
    
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            let check = JSON.parse(this.responseText);
            if(check.success == false){
                document.getElementById("err_reset_pass").innerHTML = check.errorMsg;
                document.getElementById("err_reset_pass").classList.remove("hidden_div");
            }else{
                document.getElementById("success_reset_pass").classList.remove("hidden_div");
                // window.location.href = "/login";
            }
          }
      };
      xhttp.open("POST", "create_new_password", true);
      xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      xhttp.setRequestHeader('X-CSRF-Token',csrfVal);
      xhttp.send(sendString);
}

document.getElementsByClassName("form_input")[0].addEventListener("keyup", checkForm);
document.getElementsByClassName("form_input")[1].addEventListener("keyup", checkForm);
document.getElementById("send_forgot_pass_btn").addEventListener("click", sendEmail);


</script>

</body>

</html>

    <!-- <script src="/js/app/auth/auth_regis.js"></script> -->
