<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <title>Document</title>

</head>
<body>
    <div id="wrapper_all">

        <div id="wrapper_inside">
                <!-- chat -->
        <div class="single_content hide"  data-link="chat">
            <div id="chat_topic">   
                <div id="chat_topic_selection">

                    <div id="chat_topic_wrapper">
                        <img src="/test/loading.gif" alt="chat" id="illustration_loading">
                    </div>

                    <div id="chat_private_wrapper">
                        
                    </div>
                </div>
                

                <!-- Banner Ad 1 -->
                <!-- <div id="banner_ad_1">
                    <div>
                        Banner Ad 1
                    </div>
                    
                </div> -->
                
                
            </div>

            <div id="content_chat">
                <div id="chat_top_header">
                    <span class="material-icons" id="left_icon_display">list</span>
                    <div id="info_which_chat">
                        
                    </div>

                    <%if (locals.ifLogin == false) { %>
                        <a id="sign_btn" href="/login">
                            Sign In
                        </a>
                        <% } else { %>
                            <div id="my_profile_top_right">
                                <img src="/upload/user/profile_test.png" alt="my photo" id="profile_photo_small_right">
                            </div>
                        <% } %>

                        <span class="material-icons" id="right_icon_display">info</span>
                    
                    
                </div>
                <div id="chat_room_output">
                    <div id="illustration_wrapper">
                        <img src="/test/illus_chat.svg" alt="chat" id="illustration_chat">
                        <div>
                            <h1>Welcome to cwuit.com online chat</h1>
                            <h2>Please select left menu to chat</h2>
                            <h2>Or Please Login If you haven't so</h2>
                        </div>
                        
                    </div>
                    
                </div>
                <div id="chat_preview_images"></div>
                <div id="chat_room_input">
                    <label id="chat_image_selector" for="chat_hidden_input_file"><div class="chat_add_photo_btn material-icons">image</div></label>
                    <input id="chat_hidden_input_file" type="file"  accept="image/png, image/jpeg" multiple>
                    <div id="chat_room_input_box" class="contenteditable" contenteditable="true" data-placeholder="Chat here..."></div>  
                    <div id="chat_room_send_btn">Send</div>
                </div>
            </div>
            

            <div id="profile_right_wrapper">
                <div id="profile_right_inside">
                    <img src="/test/profile_test.png" class="profile_pic_big">
                    <div><span class="material-icons icon-female">female</span>Roxy</div>
                    <mention>@Roxy</mention>
                    
                    <div>"hi"</div>
                    <!-- <div class="profile_single_wrapper">
                        <div><img src="/icon/loc.png" alt="country" class="profile_icon"></div> 
                        <div>?</div>
                    </div> -->
                    <a href="https://www.facebook.com/some" class="profile_single_wrapper">
                        <div><img src="/icon/fb.png" alt="facebook" class="profile_icon"></div> 
                        <!-- <div>Roxy</div> -->
                    </a>
                    <a href="https://www.instagram.com/some" class="profile_single_wrapper">
                        <div><img src="/icon/ig.png" alt="instagram" class="profile_icon"></div> 
                        <!-- <div>Roxy</div> -->
                    </a>
                    <!-- <a href="https://www.twitter.com/some" class="profile_single_wrapper">
                        <div><img src="/icon/tw.png" alt="twitter" class="profile_icon"></div> 
                        <div>?</div>
                    </a>
                    <a href="https://www.website.com" class="profile_single_wrapper">
                        <div><img src="/icon/web.png" alt="website" class="profile_icon"></div> 
                        <div>?</div>
                    </a> -->


                </div>
                

                <!-- Banner Ad 2 -->
                <!-- <div id="banner_ad_1">
                    <div>
                        Banner Ad 2
                    </div>
                    
                </div> -->

            </div>
        </div>         
        </div>
        
    </div>
    <script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
    
</body>

</html>