<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    
    <link rel="stylesheet" href="/css/main.css">


    <title>Document</title>
</head>


<body>
    <div id="wrapper_all">

        <div id="wrapper_inside">
                <!-- chat -->
        <div class="single_content hide"  data-link="chat">
            <div id="chat_topic">   
                <div id="chat_topic_selection">
                    <div id="chat_all" class="chat_selector_single chat_selector_single_active">
                        <img src="/test/profile_all.png" class="profile_pic_small">
                        <div class="chat_selector_content">
                            <div>All</div>
                            <div class="chat_selector_history_chat">Ethan : nice view</div>
                        </div>
                    </div>

                    <div id="chat_private_wrapper">
                        <div class="chat_selector_single">
                            <img src="/test/profile_test.png" class="profile_pic_small">
                            <div class="chat_selector_content">
                                <div><span class="material-icons icon-female">female</span>Natalia</div>
                                <div class="chat_selector_history_chat">Natalia : me too</div>
                            </div>
                        </div>
                        <div class="chat_selector_single">
                            <img src="/test/profile_test.png" class="profile_pic_small">
                            <div class="chat_selector_content">
                                <div><span class="material-icons icon-female">female</span>Jane</div>
                                <div class="chat_selector_history_chat">You : r u okay?</div>
                            </div>
                        </div>
                        <div class="chat_selector_single">
                            <img src="/test/profile_test.png" class="profile_pic_small">
                            <div class="chat_selector_content">
                                <div><span class="material-icons icon-female">female</span>Vivo</div>
                                <div class="chat_selector_history_chat">Vivo : Hmm..</div>
                            </div>
                        </div>
                        <div class="chat_selector_single">
                            <img src="/test/profile_test.png" class="profile_pic_small">
                            <div class="chat_selector_content">
                                <div><span class="material-icons icon-female">female</span>Roxy</div>
                                <div class="chat_selector_history_chat">You : not bad</div>
                            </div>
                        </div>
                        <div class="chat_selector_single">
                            <img src="/test/profile_test.png" class="profile_pic_small">
                            <div class="chat_selector_content">
                                <div><span class="material-icons icon-female">female</span>Roxy</div>
                                <div class="chat_selector_history_chat">You : not bad</div>
                            </div>
                        </div>
                        <div class="chat_selector_single">
                            <img src="/test/profile_test.png" class="profile_pic_small">
                            <div class="chat_selector_content">
                                <div><span class="material-icons icon-female">female</span>Roxy</div>
                                <div class="chat_selector_history_chat">You : not bad</div>
                            </div>
                        </div>
                    </div>
                </div>
                

                <!-- Banner Ad 1 -->
                <div id="banner_ad_1">
                    <div>
                        Banner Ad 1
                    </div>
                    
                </div>
                
                
            </div>

            <div id="content_chat">
                <div id="chat_top_header">
                    <span class="material-icons" id="left_icon_display">list</span>
                    <div id="">
                        <mention>@Natalia</mention>
                    </div>

                    <%if (locals.ifLogin == false) { %>
                        <a id="sign_btn" href="/login">
                            Sign In
                        </a>
                        <% } else { %>
                            <div id="my_profile_top_right">
                                My Profile
                            </div>
                        <% } %>

                        <span class="material-icons" id="right_icon_display">info</span>
                    
                    
                </div>
                <div id="chat_room_output">
                    <div class="chat_selector_single">
                        <img src="/test/profile_test.png" class="profile_pic_small">
                        <div class="chat_selector_content">
                            <div><span class="material-icons icon-female">female</span>Roxy</div>
                            <div class="chat_selector_history_chat">lol lolol</div>
                        </div>
                    </div>
                    <div class="chat_selector_single">
                        <img src="/test/profile_test.png" class="profile_pic_small">
                        <div class="chat_selector_content">
                            <div><span class="material-icons icon-female">female</span>Roxy</div>
                            <div class="chat_selector_history_chat">lol lolol</div>
                        </div>
                    </div>
                    <div class="chat_selector_single">
                        <img src="/test/profile_test.png" class="profile_pic_small">
                        <div class="chat_selector_content">
                            <div><span class="material-icons icon-female">female</span>Roxy</div>
                            <div class="chat_selector_history_chat">lol lolol</div>
                        </div>
                    </div>
                    <div class="chat_selector_single">
                        <img src="/test/profile_test.png" class="profile_pic_small">
                        <div class="chat_selector_content">
                            <div><span class="material-icons icon-female">female</span>Roxy</div>
                            <div class="chat_selector_history_chat">lol lolol</div>
                        </div>
                    </div>
                    <div class="chat_selector_single">
                        <img src="/test/profile_test.png" class="profile_pic_small">
                        <div class="chat_selector_content">
                            <div><span class="material-icons icon-female">female</span>Roxy</div>
                            <div class="chat_selector_history_chat">lol lolol</div>
                        </div>
                    </div>
                    <div class="chat_selector_single">
                        <img src="/test/profile_test.png" class="profile_pic_small">
                        <div class="chat_selector_content">
                            <div><span class="material-icons icon-female">female</span>Roxy</div>
                            <div class="chat_selector_history_chat">lol lolol</div>
                        </div>
                    </div>
                    <div class="chat_selector_single">
                        <img src="/test/profile_test.png" class="profile_pic_small">
                        <div class="chat_selector_content">
                            <div><span class="material-icons icon-female">female</span>Roxy</div>
                            <div class="chat_selector_history_chat">lol lolol</div>
                        </div>
                    </div>
                    <div class="chat_selector_single">
                        <img src="/test/profile_test.png" class="profile_pic_small">
                        <div class="chat_selector_content">
                            <div><span class="material-icons icon-female">female</span>Roxy</div>
                            <div class="chat_selector_history_chat">lol lolol</div>
                        </div>
                    </div>
                    <div class="chat_selector_single">
                        <img src="/test/profile_test.png" class="profile_pic_small">
                        <div class="chat_selector_content">
                            <div><span class="material-icons icon-female">female</span>Roxy</div>
                            <div class="chat_selector_history_chat">lol lolol</div>
                        </div>
                    </div>
                    <div class="chat_selector_single">
                        <img src="/test/profile_test.png" class="profile_pic_small">
                        <div class="chat_selector_content">
                            <div><span class="material-icons icon-female">female</span>Roxy</div>
                            <div class="chat_selector_history_chat">lol lolol</div>
                        </div>
                    </div>
                    
                </div>
                <div id="chat_preview_images"></div>
                <div id="chat_room_input">
                    <label id="chat_image_selector" for="chat_hidden_input_file"><div class="chat_add_photo_btn material-icons">image</div></label>
                    <input id="chat_hidden_input_file" type="file"  accept="image/png, image/jpeg" multiple>
                    <div id="chat_room_input_box" class="contenteditable" contenteditable="true" data-placeholder="Chat here..."></div>  
                    <div id="chat_room_send_btn">Send</div>
                </div>
            </div>
            

            <div id="profile_right_wrapper">
                <div id="profile_right_inside">
                    <img src="/test/profile_test.png" class="profile_pic_big">
                    <div><span class="material-icons icon-female">female</span>Roxy</div>
                    <mention>@Roxy</mention>
                    <div>
                        <div>Bio</div>
                        <div>Im Perfect :)</div>
                    </div>
                    <div>
                        <div>Follow</div>
                    </div>
                    <div>
                        <div>Instagram</div> 
                        <div>@Roxy</div>
                    </div>
                    <div>
                        <div>Website</div> 
                        <div>???</div>
                    </div>
                    <div>
                        <div>Country</div> 
                        <div>???</div>
                    </div>
                </div>
                

                <!-- Banner Ad 2 -->
                <div id="banner_ad_1">
                    <div>
                        Banner Ad 2
                    </div>
                    
                </div>

            </div>
        </div>         
        </div>
        
    </div>
    
    <script src="/js/main.js"></script>
    
</body>

</html>